# Privy Auth
PRIVY_APP_ID=
PRIVY_SECRET_KEY=

# Database
# Docker Compose: use "db" as host, NOT localhost
DATABASE_URL=postgresql://anonpay:anonpay@db:5432/anonpay

# Blockchain (change only these to switch networks) 
# ARC Testnet
CHAIN_RPC_URL=https://rpc.testnet.arc.network
CHAIN_ID=5042002
CHAIN_NAME=arc_testnet
USDC_CONTRACT_ADDRESS=0x3600000000000000000000000000000000000000

# Encryption (generate: python scripts/generate_key.py)
ENCRYPTION_KEY=jc0qdABEYViC01xWu4Oyme6uNjylPyFbmC3LFywuMPk=

# CORS
FRONTEND_URL=http://localhost:3000

# App
ENVIRONMENT=development
LOG_LEVEL=INFO

# Frontend (read by docker-compose)
NEXT_PUBLIC_PRIVY_APP_ID=cmootmw0n00og0ckwnv0dqx5c
NEXT_PUBLIC_CHAIN_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_CHAIN_ID=5042002
NEXT_PUBLIC_CHAIN_NAME=ARC Testnet
NEXT_PUBLIC_USDC_CONTRACT_ADDRESS=0x3600000000000000000000000000000000000000
NEXT_PUBLIC_CHAIN_EXPLORER_URL=https://testnet.arcscan.app